/* use this style sheet for landing page... */
/**/
*{
  background-color: rgb(252,252,255);
  background: rgb(252,252,255);
}

body{
  background-color: rgb(252,252,255);
  background: rgb(252,252,255);
}
/**/
